* {
    box-sizing: border-box;
}

body {
    background-color: #5a575f;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23c2b2db' fill-opacity='0.28' fill-rule='evenodd'/%3E%3C/svg%3E");
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
}

.quote_container {
    width: auto;
    max-width: 900px;

    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 20px 10px 10px rgba(54, 53, 53, 0.2);
    background-color: rgba(0, 0, 0, 0.4);
}

.quote_text {
    font-size: 2.75rem;
}

.fa-quote-left {
    font-size: 4rem;
}

.author_text {
    margin-top: 1rem;
    font-style: italic;
    font-size: 2rem;
    font-weight: 600;
}

.button_container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

button {
    cursor: pointer;
    font-size: 1.5rem;
    height: 2.5rem;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: aliceblue;
    padding: 0.5rem 1.8rem 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(195, 191, 191, 0.65);
}

button:hover {
    filter: brightness(120%);
}

button:active {
    transform: translate(0.3rem, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);

}

button:hover {
    color: #38a1f3;
}


@media screen and (max-width:1000px) {
    .quote_container {
        margin: auto 10px;
    }

    .quote_text{
        font-size: 2.5rem;
    }

    .fa-quote-left {
        font-size: 2rem;
    }

}